@import "../../styles/mixins";
@import "../../styles/variables";

.burgerWrapper {
	@include flex(flex-end, center);
	transition: $transition-main;

	.icon {
		width: 24px;
		height: 24px;
		margin: 0px;
	}
}

.open {
	@include flex(flex-end, center);

	flex-direction: column-reverse;
	position: fixed;
	top: 64px;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: $main-bg;
	z-index: 2;
	transition: $transition-main;
	transform: translateX(0%);
}

.closed {
	@extend .open;
	transform: translateX(100%);
}
