@import "../../styles/mixins";
@import "../../styles/variables";

.nav {
	width: 100%;
	height: fit-content;
	@include flex(flex-start, center);

	.list {
		width: 80%;
		@include flex(space-evenly, center);
		border-bottom: 1px solid $text-secondary;
	}
}
