@import "./styles/mixins";
@import "./styles/variables";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	scroll-behavior: smooth;
	height: 100%;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	padding: 0;
	margin: 0;
}

a {
	font-style: normal;
	text-decoration: none;

	cursor: pointer;
}

img {
	display: block;
	margin: 0;
	padding: 0;
}

button {
	border: none;
	padding: 0;
	margin: 0;

	cursor: pointer;
}

textarea {
	resize: none;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
body {
	background-color: $main-bg;
	color: $text-secondary;
	// font-family: $mainFont;
}

.container {
	padding: 20px;
	margin: 0px auto;
	width: 280px;
	@include media(tablet) {
		padding: 16px;
		width: 752px;
	}
	@include media(desktop) {
		width: 1280px;
	}
}

.section {
	padding: 24px 0px;
	@include media(desktop) {
		padding: 40px 0px;
	}
}
